body {
	font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.main-header {
    background-color: #eee;
    border: 1px solid red;
    margin-bottom: 80px;
}

    .main-logo {
        float: left;
        min-height: 85px;
        border: 1px solid blue;
    }

    .main-navigation {
        float: right;
        width: 560px;
        min-height: 85px;
        border: 1px solid blue;
    }

        .main-navigation ul {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 0;
        }

            .main-navigation li {
                float: left;
                margin: 32px 22px 0 22px;
                font-size: 14px;
                text-transform: uppercase;
            }

                .main-navigation li:last-child {
                    margin-right: 0;
                }

    .promo-gallery {
        clear: both;
        min-height: 320px;
    }

.container {
    width: 900px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.products {
    margin-bottom: 80px;
}

    .products-item {
        float: left;
        width: 240px;
        margin-right: 80px;
        border: 1px solid blue;
    }

    .products-item:last-child {
        margin-right: 0;
    }

    .products-item p {
        font-size: 15px;
    }

.index-content-1 {
    border: 1px solid red;
}

.left-description {
    width: 620px;
    float: left;
    border: 1px solid green;
}

    .logo {
        width: 240px;
        float: right;
        border: 1px solid green;
    } 

        .logo i {
            display: block;
        }

.index-content-2 {
    border: 1px solid red; 
}

.content-list-left {
    width: 620px;
    float: left;
    border: 1px solid green;
}

.content-list-right {
    width: 240px;
    float: right;
}

.medium-title {
    font-size: 18px;
    text-transform: uppercase;
}

.btn {
    font-size: 12px;
    text-transform: uppercase;
}

.partners {
    border: 1px solid green;
}


.index-content-right {
    float: right;
    width: 240px;
    border: 1px solid red;
}

.partners {
    text-align: center;
}

.partners-item {
    display: inline-block;
    vertical-align: middle;
}

.btn-price {
    font-size: 18px;
    text-transform: uppercase;
}

.big-title {
    font-size: 36px;
}

.small-title {
    font-size: 16px;
    text-transform: uppercase;
}

.logo i {
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
}

.big-uppercase-title {
    font-size: 36px;
    text-transform: uppercase;
}

.price-filter label {
    font-size: 16px;
    text-transform: uppercase;
}

.sort-list {
    font-size: 12px;
    text-transform: uppercase;
}

.product-details p {
    font-size: 14px;
}

.products-pagination li {
    font-size: 12px;
    text-transform: uppercase;
}